*{
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body{
    background-color: #f0eded;
    height: 100%;
    width: auto;
}

.intro{
    position: absolute;
    width: 90%;
    top: 2%;
    left: 5%;
}

.logo{
    display: block;
}

.side-content{
    display: block;
}

.intro h1{
    font-family: 'Fascinate', cursive;
    text-align: center;
    font-size: 2.0em;
    text-shadow: rgb(91, 91, 91) 5px 5px 10px;
}

.intro h1 span{
    font-family: 'Fascinate', cursive;
    color: #185E95;
    font-size: 2.0em;
}

.intro .top-text{
    text-align: center;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 1.3em;
    text-shadow: rgb(91, 91, 91) 5px 5px 10px;
}

.intro .bottom-text{
    text-align: center;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 1.2em;
    text-shadow: rgb(91, 91, 91) 5px 5px 10px;

}

.squares{
    position: absolute;
    width: 100%;
    left: 0%;
    z-index: -2;
    top: 32%;
}

.booking-form{
    position: fixed;
    width: 60%;
    left: 20%;
    bottom: 5%;
}

.booking-btn{
    position: relative;
    width: 100%;
    font-family: 'Kdam Thmor Pro', sans-serif;
    background-color: #2D71AC;
    border: none;
    font-size: 1.4em;
    padding: 2% 2% 2% 2%;
    box-shadow: rgb(91, 91, 91) 5px 5px 7px 0px;
}

.booking-btn:active{
    transform: scale(0.9);
    box-shadow: 3px 3px 4.5px 0px rgb(75, 74, 74);
}


@media (min-width: 490px) {
    .intro h1{
        font-size: 2.5em;
        text-shadow: rgb(91, 91, 91) 7px 7px 14px;
    }
    
    .intro h1 span{
        font-size: 3.0em;
        text-shadow: rgb(91, 91, 91) 7px 7px 14px;
    }
    
    .intro .top-text{
        font-size: 1.7em;
        text-shadow: rgb(91, 91, 91) 7px 7px 14px;
    }
    
    .intro .bottom-text{
        font-size: 1.6em;    
        text-shadow: rgb(91, 91, 91) 7px 7px 14px;
    }
    
    .squares{
        width: 90%;
        left: 5%;
        top: 25%;
    }
    
    .booking-form{
        bottom: 4%;
    }
    
    .booking-btn{
        font-size: 1.7em;
        padding: 2% 2% 2% 2%;
        box-shadow: rgb(91, 91, 91) 7px 7px 9px 0px;
    }
    
    .booking-btn:active{
        transform: scale(0.9);
        box-shadow: 5px 5px 7.5px 0px rgb(75, 74, 74);
    }
}

@media (min-width: 490px) and (max-height: 490px){
    .logo{
        position: absolute;
        width: 90%;
        left: 5%;
        right: 5%;
        top: 10%;
        display: flex;
    }

    .intro{
        position: relative;
        margin-top: 5%;
    }

    .intro h1{
        text-align: center;
        font-size: 1.5em;
        text-shadow: rgb(91, 91, 91) 7px 7px 14px;
    }
    
    .intro h1 span{
        font-size: 1.5em;
        text-shadow: rgb(91, 91, 91) 7px 7px 14px;
    }
    
    .intro .top-text{
        font-size: 1.2em;
        text-align: center;
        text-shadow: rgb(91, 91, 91) 7px 7px 14px;
    }
    
    .intro .bottom-text{
        font-size: 1.1em;
        text-align: center;
        margin-top: 5%;
        margin-bottom: 10%;
        text-shadow: rgb(91, 91, 91) 7px 7px 14px;
    }
    
    .squares{
        position: relative;
        width: 30%;
    }
    
    .booking-form{
        margin-top: 10%;
    }
    
    .booking-btn{
        font-size: 1.2em;
        padding: 2% 2% 2% 2%;
        box-shadow: rgb(91, 91, 91) 7px 7px 9px 0px;
    }
    
    .booking-btn:active{
        transform: scale(0.9);
        box-shadow: 5px 5px 7.5px 0px rgb(75, 74, 74);
    }
} 

@media (min-width: 1000px) {

    .logo{
        position: absolute;
        width: 90%;
        left: 5%;
        right: 5%;
        top: 10%;
        display: flex;
    }

    .intro{
        position: relative;
        margin-top: 0%;
    }

    .intro h1{
        text-align: center;
        font-size: 2.5em;
        text-shadow: rgb(91, 91, 91) 7px 7px 14px;
    }
    
    .intro h1 span{
        font-size: 3.0em;
        text-shadow: rgb(91, 91, 91) 7px 7px 14px;
    }
    
    .intro .top-text{
        font-size: 1.7em;
        text-align: center;
        text-shadow: rgb(91, 91, 91) 7px 7px 14px;
    }
    
    .intro .bottom-text{
        font-size: 1.6em;
        text-align: center;
        margin-top: 5%;
        margin-bottom: 10%;
        text-shadow: rgb(91, 91, 91) 7px 7px 14px;
    }
    
    .squares{
        position: relative;
        left: 0%;
        width: 45%;
    }
    
    .booking-form{
        position: relative;
        width: 40%;
        left: 30%;
        right: 30%;
        margin-top: 10%;
    }
    
    .booking-btn{
        font-size: 1.4em;
        padding: 2% 2% 2% 2%;
        box-shadow: rgb(91, 91, 91) 7px 7px 9px 0px;
    }
    
    .booking-btn:active{
        transform: scale(0.9);
        box-shadow: 5px 5px 7.5px 0px rgb(75, 74, 74);
    }
}

/* color palette
https://coolors.co/palette/90c1e3-000055-2d71ac-000000-185e95-000000
*/

/* fonts
font-family: 'Kdam Thmor Pro', sans-serif;
font-family: 'Chakra Petch', sans-serif;
font-family: 'Fascinate', cursive;
*/